#city-input{
    outline: 1px;

}


.card-body-today{
    outline: solid 1px black;
    background-color: lightgray;
    height: 300px
}
.card-body-forecast{
    outline: solid 1px black;
    background-color: lightcyan;
    height: 300px
}

li {
    list-style-type: none;
}


